@charset "utf-8";
//Watch for changes: npm start

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #666699;
$black: #2D2D2A;
$red: #B20D30;
$mint-green: #8BE8CB;
$gray: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$purple: $purple;
$grey-dark: $black;
$red: $red;
$turquoise: $mint-green;
$gray: $gray;
$widescreen-enabled: false;
$fullhd-enabled: false;

$primary: $purple;
$link: $turquoise;
//$info: $cyan; // standaard
$success: $turquoise;
//$warning: $yellow; //standaard
$danger: $red;
$dark: $grey-dark;
$text: $grey-dark;



// Update some of Bulma's component variables
$body-background-color: $gray;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Disable the widescreen breakpoint
$widescreen-enabled: true;

  // Disable the fullhd breakpoint
$fullhd-enabled: true;


// Import only what you need from Bulma
//Import all
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/layout/_all";


// standaard:
//@import "../node_modules/bulma/sass/utilities/_all.sass";
//@import "../node_modules/bulma/sass/base/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
//@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/elements/title.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";
