details summary::-webkit-details-marker {
    display: none;
}

.extra-padding-1 {
    padding: 1em;
}

.objectfit-cover {
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

.search-price {
    margin-bottom: 0;
}

#categories-container {
    box-sizing: border-box;
}

@media only screen and (max-width: 1020px) {
    #categories-container {
        position: fixed;
        z-index: 2000;
        width: 100%;
        background-color: white;
        top: 0;
        left: 100%;
        height: 100%;
        overflow: scroll;
        transition: 1s ease left;
        margin-bottom: 50px;
    }

    #categories-container.open {
        left: 0;
    }

    #search-title-desktop {
        display: none;
    }

    #mobile-search-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    #search-title-mobile {
        display: inline;
        margin: 0;
    }

    #search-container {
        position: static;
    }

    #search-columns {
        position: static;
    }

    #categories-header-mobile {
        display: flex;
        align-items: center;
        max-width: 100%;
        min-width: 0;
    }

    #categories-header-mobile p {
        padding: 10px;
        border-left: 1px solid grey;
    }

    #categories {
        height: 100%;
    }
}

@media only screen and (min-width: 1021px) {
    #mobile-search-header {
        display: none;
    }

    #categories-header-mobile {
        display: none;
    }
}

#categories ul {
    padding-left: 10px;
}

#categories li {
    border-left: 1px solid grey;
}

#categories li .title:hover {
    background-color: grey;
    cursor: pointer;
}

#categories .title {
    margin: 0;
    padding: 10px;
}

#categories p {
    padding: 10px;
}

#categories p:hover {
    background-color: grey;
    cursor: pointer;
    color: white;
}

.close ul {
    display: none;
}

#search-columns {
    margin: 0;
}